<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Demo" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Demo" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %> -->
    <%= csrf_meta_tags %>
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container nav-md">
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/messages' %>
        <%= yield %>
        <%= javascript_include_tag 'application' %>     
      </div> 
    </div>
  </body>
</html>


